**Dictionnaires**

**Exercice 1/2 :**

Crée un dictionnaire profil avec les clés : "nom", "age", "ville".

Affiche une phrase du type : Alice a 22 ans et vit à Lyon.

**Exercice 2/2 :**

- Calcule la moyenne de Salma, Morgane et Anne.

- Ajoute ton nom avec 5 notes dans la liste.

- Retire la première clé-valeur "Léa" de la liste.

Indices  

- la méthode sum() applicable à une list

In [ ]:
notes = {
    "Léa":   [14, 16, 13, 15, 17],
    "Hugo":  [10, 12,  9, 11, 13],
    "Salma": [18, 17, 19, 16, 18],
    "Morgane":[12, 14, 13, 15, 11],
    "Sasha": [15, 16, 14, 13, 17],
    "Anne":  [ 9, 10, 11, 12,  8],
    "Yasmine":[16, 15, 17, 14, 18],
}

**Les boucles**

**Exercice 1/3**

Calcule la moyenne de tous les apprenants, dans le précédent exercice à l'aide d'une boucle

**Exercice 2/3**

Compter les occurrences du mot 'python' dans la phrase :

phrase = "python python boucle dictionnaire python boucle"

Indices :

Découpe la phrase en mots grâce à la méthode .split()

Avec une boucle, créé une variable qui comptabilise les occurrences

**Exercice 3/3**

Affiche le numéro de chaque étudiant dans l'ordre alphabétique, chaque nom précédé de son numéro (1 à 40).

**Exercice bonus**

Affiche les étudiants par groupes de 5, avec chacun un numéro de groupe (de 1 à 8)

Indices

Utiliser un compteur + utiliser le slicing list[x:y]

In [ ]:
names = [
    "ABICHOU HAMZA",
    "ABOUELFOTTOUH NOUHAILAHAMDY",
    "ALEIXANDRENDREU MONICA",
    "BARRY WELLYLILIANE",
    "BENCHCHEIKH SALMA",
    "BOUDOUDINE ASMA",
    "BOUTALLAKA AYMANE",
    "BRUNNER EMMA",
    "BUI LAURA-LINH",
    "CHACRA AL AWWAL",
    "DARKAOUIAAOUNI INASSE",
    "DEBUCQUOIS BASTIEN",
    "DONG DAVIDEMMANUEL",
    "DUBOIS AGATHE",
    "ELKAHLA ALLAN",
    "ELOGRI YASMINE",
    "ETIENNE ESTELLE",
    "FORCINA MAELANE",
    "GIMENEZ DAMIEN",
    "GUEDDI FAHD",
    "HADADI Shems Douha",
    "KATALAN LEAH",
    "LEBIED NABIL",
    "LEFAY AMELIE",
    "LEVACHERROBINET GEORGIA",
    "MATONDO BENEDICTE",
    "MEDALLEL SAOUSSEN",
    "MOUIDINE AROUA",
    "MOUSSA Aimé",
    "NAYARE AYA",
    "NOUARFAL OUMAIMA",
    "OUASLI MEHDI",
    "OUGOUZOUL YOUNES",
    "PHELEP LOUIS",
    "QUENETTE EMILIE",
    "SEBILLEAU PAUL",
    "SOPT NINA",
    "SUZON JAHNOY",
    "TALOUARNE HUGO",
    "TARSITANOBAPTISTA LUIZA",
    "TAVERA LUCILLE",
    "TEIBI SIDAHMED",
    "VUILLEMIN LOIC",
    "WAKILELMARS KAWTAR"
]

**Jeu du pendu**

Liste de mots, exemple :

mots = ["python", "dictionnaire", "boucle", "ordinateur", "variable", "fonction", "Kedge"]

**Jeu de bataille navale simplifiée**

1) Création de la grille

Créer une grille 3×3 remplie de "~" (eau), sous forme de liste de listes.

~    ~    ~

~    ~    ~

~    ~    ~


2) Placement du bateau (J1)

Demander à J1 de cacher la bateau en lui demandant la position : une ligne et une colonne.

3) Tirs (J2)

J2 a 5 tentatives pour deviner la position du bateau.

Pour les deux exercices, commencer par décomposer le problème en écrivant. Ensuite, démarrer le code étape par étape, et valider au fur et à mesure.