<a href="https://colab.research.google.com/github/ngminhdao/kedge_bootcamp/blob/main/2_session_intervenant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dictionnaires**

**Exercice 1/2 :**

Crée un dictionnaire profil avec les clés : "nom", "age", "ville".

Affiche une phrase du type : Alice a 22 ans et vit à Lyon.

In [ ]:
#dictionnaire profil avec 3 clés
d = {
    "nom":"Alice",
    "age":22,
    "ville":"Lyon"
}

#f-string to print a phrase with d.get() method
print(f"{d.get("nom")} a {d.get("age")} et vit à {d.get("ville")}")

Alice a 22 et vit à Lyon

**Exercice 2/2 :**

- Calcule la moyenne de Salma, Morgane et Anne.

- Ajoute ton nom avec 5 notes dans la liste.

- Retire la première clé-valeur "Léa" de la liste.

Indices  

- la méthode sum() applicable à une list

In [13]:
import random as r

notes = {
    "Léa":   [14, 16, 13, 15, 17],
    "Hugo":  [10, 12,  9, 11, 13],
    "Salma": [18, 17, 19, 16, 18],
    "Morgane":[12, 14, 13, 15, 11],
    "Sasha": [15, 16, 14, 13, 17],
    "Anne":  [ 9, 10, 11, 12,  8],
    "Yasmine":[16, 15, 17, 14, 18],
}

#liste qui contient les noms/clés à calculer les moyennes
q1 = ["Salma", "Morgane", "Anne"]

#boucle pour calculer et imprimer la moyenne
for i in q1:
  print(f"La moyenne de {i} est {sum(notes.get(i))/len(notes.get(i))}.")

#liste vide pour randomiser les notes
q2 = []

#boucle for pour faire 5 notes
for i in range(5):
  q2.append(r.randint(8,19))

#déclare ton nom
prenom = "Minh-Dao"

#update notes dictionnaire avec ton nom
notes.update(
    {prenom:q2}
)

#print ta moyenne
print(f"La moyenne de {prenom} est {sum(notes.get(prenom))/5}.")

La moyenne de Salma est 17.6.
La moyenne de Morgane est 13.0.
La moyenne de Anne est 10.0.
La moyenne de Minh-Dao est 12.2.

In [14]:
#enlever "Léa"

try:
  del notes['Léa']
except: print("Déjà supprimé")

print(notes.keys())

dict_keys(['Hugo', 'Salma', 'Morgane', 'Sasha', 'Anne', 'Yasmine', 'Minh-Dao'])

**Les boucles**

**Exercice 1/3**

Calcule la moyenne de tous les apprenants, dans le précédent exercice à l'aide d'une boucle

In [30]:
for i in notes:
  print(f"La moyenne de {i} est {sum(notes.get(i))/len(notes.get(i))}.")

La moyenne de Hugo est 11.0.
La moyenne de Salma est 17.6.
La moyenne de Morgane est 13.0.
La moyenne de Sasha est 15.0.
La moyenne de Anne est 10.0.
La moyenne de Yasmine est 16.0.
La moyenne de Minh-Dao est 12.2.

**Exercice 2/3**

Compter les occurrences du mot 'python' dans la phrase :

phrase = "python python boucle dictionnaire python boucle"

Indices :

Découpe la phrase en mots grâce à la méthode .split()

Avec une boucle, créé une variable qui comptabilise les occurrences

In [12]:
#déclarer la phrase
phrase = "python python boucle dictionnaire python boucle"
print(phrase)

#déclarer une liste qui contient les mots après avoir splitté la phrase
mots = phrase.split()

#print liste de mots
print(mots)

#déclarer compteur
compteur = 0

#boucle for qui parcourut la liste, compte "python"
for i in mots:
  if i == "python": compteur += 1

print(f"Dans la phrase donnée, il y a {compteur} occurrences du mot 'python'")

python python boucle dictionnaire python boucle
['python', 'python', 'boucle', 'dictionnaire', 'python', 'boucle']
Dans la phrase donnée, il y a 3 occurrences du mot 'python'

**Exercice 3/3**

Affiche le numéro de chaque étudiant dans l'ordre alphabétique, chaque nom précédé de son numéro (1 à 40).

In [33]:
#liste de noms à partir de dictionnaire 'notes'
nom = sorted(list(notes.keys()))

print(nom)

numero = 1

for i in nom:
  print(f"{numero} : {i}")
  numero += 1

['Anne', 'Hugo', 'Minh-Dao', 'Morgane', 'Salma', 'Sasha', 'Yasmine']
1 : Anne
2 : Hugo
3 : Minh-Dao
4 : Morgane
5 : Salma
6 : Sasha
7 : Yasmine

**Exercice bonus**

Affiche les étudiants par groupes de 5, avec chacun un numéro de groupe (de 1 à 8)

Indices

Utiliser un compteur + utiliser le slicing list[x:y]

In [31]:
names = [
    "ABICHOU HAMZA",
    "ABOUELFOTTOUH NOUHAILAHAMDY",
    "ALEIXANDRENDREU MONICA",
    "BARRY WELLYLILIANE",
    "BENCHCHEIKH SALMA",
    "BOUDOUDINE ASMA",
    "BOUTALLAKA AYMANE",
    "BRUNNER EMMA",
    "BUI LAURA-LINH",
    "CHACRA AL AWWAL",
    "DARKAOUIAAOUNI INASSE",
    "DEBUCQUOIS BASTIEN",
    "DONG DAVIDEMMANUEL",
    "DUBOIS AGATHE",
    "ELKAHLA ALLAN",
    "ELOGRI YASMINE",
    "ETIENNE ESTELLE",
    "FORCINA MAELANE",
    "GIMENEZ DAMIEN",
    "GUEDDI FAHD",
    "HADADI Shems Douha",
    "KATALAN LEAH",
    "LEBIED NABIL",
    "LEFAY AMELIE",
    "LEVACHERROBINET GEORGIA",
    "MATONDO BENEDICTE",
    "MEDALLEL SAOUSSEN",
    "MOUIDINE AROUA",
    "MOUSSA Aimé",
    "NAYARE AYA",
    "NOUARFAL OUMAIMA",
    "OUASLI MEHDI",
    "OUGOUZOUL YOUNES",
    "PHELEP LOUIS",
    "QUENETTE EMILIE",
    "SEBILLEAU PAUL",
    "SOPT NINA",
    "SUZON JAHNOY",
    "TALOUARNE HUGO",
    "TARSITANOBAPTISTA LUIZA",
    "TAVERA LUCILLE",
    "TEIBI SIDAHMED",
    "VUILLEMIN LOIC",
    "WAKILELMARS KAWTAR"
]

#déclarer liste de groupes, compteur et dictionnaire, qui associe un nombre de groupe avec une liste de nom d'étudiant:
groupes = []
compteur = 0
d = {}

#boucle qui parcourut les indexes de la liste 'names'
for i in range(len(names)):
  if i % 5 == 0: #1 action tous les 5 éléments de liste
    groupes.append(names[i:(i+5)]) #ajoute à listes de groupes une liste de noms des 5 étudiants
    compteur += 1 #incrementer le compteur, qui va être le numéro du groupe
    d.update(
        {compteur:groupes[compteur-1]}
    ) #mettre à jour le dictionnaire
print(groupes)
print(d)

[['ABICHOU HAMZA', 'ABOUELFOTTOUH NOUHAILAHAMDY', 'ALEIXANDRENDREU MONICA', 'BARRY WELLYLILIANE', 'BENCHCHEIKH SALMA'], ['BOUDOUDINE ASMA', 'BOUTALLAKA AYMANE', 'BRUNNER EMMA', 'BUI LAURA-LINH', 'CHACRA AL AWWAL'], ['DARKAOUIAAOUNI INASSE', 'DEBUCQUOIS BASTIEN', 'DONG DAVIDEMMANUEL', 'DUBOIS AGATHE', 'ELKAHLA ALLAN'], ['ELOGRI YASMINE', 'ETIENNE ESTELLE', 'FORCINA MAELANE', 'GIMENEZ DAMIEN', 'GUEDDI FAHD'], ['HADADI Shems Douha', 'KATALAN LEAH', 'LEBIED NABIL', 'LEFAY AMELIE', 'LEVACHERROBINET GEORGIA'], ['MATONDO BENEDICTE', 'MEDALLEL SAOUSSEN', 'MOUIDINE AROUA', 'MOUSSA Aimé', 'NAYARE AYA'], ['NOUARFAL OUMAIMA', 'OUASLI MEHDI', 'OUGOUZOUL YOUNES', 'PHELEP LOUIS', 'QUENETTE EMILIE'], ['SEBILLEAU PAUL', 'SOPT NINA', 'SUZON JAHNOY', 'TALOUARNE HUGO', 'TARSITANOBAPTISTA LUIZA'], ['TAVERA LUCILLE', 'TEIBI SIDAHMED', 'VUILLEMIN LOIC', 'WAKILELMARS KAWTAR']]
{1: ['ABICHOU HAMZA', 'ABOUELFOTTOUH NOUHAILAHAMDY', 'ALEIXANDRENDREU MONICA', 'BARRY WELLYLILIANE', 'BENCHCHEIKH SALMA'], 2: ['BOUDOUDINE ASMA', 'BOUTALLAKA AYMANE', 'BRUNNER EMMA', 'BUI LAURA-LINH', 'CHACRA AL AWWAL'], 3: ['DARKAOUIAAOUNI INASSE', 'DEBUCQUOIS BASTIEN', 'DONG DAVIDEMMANUEL', 'DUBOIS AGATHE', 'ELKAHLA ALLAN'], 4: ['ELOGRI YASMINE', 'ETIENNE ESTELLE', 'FORCINA MAELANE', 'GIMENEZ DAMIEN', 'GUEDDI FAHD'], 5: ['HADADI Shems Douha', 'KATALAN LEAH', 'LEBIED NABIL', 'LEFAY AMELIE', 'LEVACHERROBINET GEORGIA'], 6: ['MATONDO BENEDICTE', 'MEDALLEL SAOUSSEN', 'MOUIDINE AROUA', 'MOUSSA Aimé', 'NAYARE AYA'], 7: ['NOUARFAL OUMAIMA', 'OUASLI MEHDI', 'OUGOUZOUL YOUNES', 'PHELEP LOUIS', 'QUENETTE EMILIE'], 8: ['SEBILLEAU PAUL', 'SOPT NINA', 'SUZON JAHNOY', 'TALOUARNE HUGO', 'TARSITANOBAPTISTA LUIZA'], 9: ['TAVERA LUCILLE', 'TEIBI SIDAHMED', 'VUILLEMIN LOIC', 'WAKILELMARS KAWTAR']}

**Jeu du pendu**

Liste de mots, exemple :

mots = ["python", "dictionnaire", "boucle", "ordinateur", "variable", "fonction", "Kedge"]

In [41]:
import random as r

# créer un liste de mots:
mots = ["python", "dictionnaire", "boucle", "ordinateur", "variable", "fonction", "Kedge"]

# prendre un mot aléatoire dans la liste
result = r.choice(mots)

# découper le mot en liste

listresult =[]
for i in range(len(result)):
  listresult =

# declarer les cases vides
longueur = len(result)
print(f"Le mot à rechercher a {longueur} caractères.")
progress = "-"*longueur

# choix possible
choix = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
dejavu = []

# boucle pour continuer le jeu tant que il y a encore les cases vides
print(progress) #afficher les cases vides
guess = input("Devine une lettre: ").lower() # prend le saisi d'utilisateur : une lettre
while guess not in choix: # check si dans les choix possibles
  guess = input("Choix pas valable. Ré-essaie: ").lower()
while guess in dejavu: # check si déjà utilisé
  guess = input("Cette lettre a déjà été devinée. Ré-essaie: ").lower()
if result.find(guess) != -1:

Le mot à rechercher a 6 caractères.
------

**Jeu de bataille navale simplifiée**

1) Création de la grille

Créer une grille 3×3 remplie de "~" (eau), sous forme de liste de listes.

~    ~    ~

~    ~    ~

~    ~    ~


2) Placement du bateau (J1)

Demander à J1 de cacher la bateau en lui demandant la position : une ligne et une colonne.

3) Tirs (J2)

J2 a 5 tentatives pour deviner la position du bateau.

Pour les deux exercices, commencer par décomposer le problème en écrivant. Ensuite, démarrer le code étape par étape, et valider au fur et à mesure.